{% extends 'admin/wizard/base_wizard.html.twig' %}

{% block main %}
    <h3>Step 1: Select Data Source</h3>
    <p>Select the data source that will provide the data for your visualization.</p>

    {{ parent() }}
{% endblock %}
